body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: black;
}

.nav {
    background-color: black;
    color: brown;
    list-style: none;
    text-align: right;
    /*padding: 20px 0 20px 0;*/
}

.nav > li {
    display: inline-block;
    padding: 0 25px 0 25px;
}

.nav > li > a {
    text-decoration: none;
    color: brown;
}

.nav > li > a:hover {
    color: orangered;
}

.logo {
    color: brown;
    float: left;
    /*padding-left: 5px;*/
    font-size: 16px;
    font-weight: bold;
}

.banner {
    width: 100%;
    display: block;
}

.banner > .banner-image {
    width: 100%;
    display: block;
}

.Recipe-box {
    width: 95%;
    height: auto;
    border: 3px solid brown;
    background-color: black;
    color: brown;
    margin: auto;
    /*justify-content: center;
    align-content: center;*/
}

.Results {
    width: 85%;
    margin: auto;
    border: 3px solid brown;
    background-color: black;
    color: brown;
    height: auto;
    min-height: 200px;
    justify-content: center;
    text-align: center;
}

.pages {
    text-align: center;
    justify-content: center;
}

.spacer {
    min-height: 50px;
}

.container {
    /*border: 3px solid darkblue;*/
    /*justify-content: center;
    align-content: center;*/
    /*align-items: center;*/
    text-align: center;
}

.flexbox-container {
    /*border: 2px solid brown;*/
    display: flex;
    /*justify-content: center;*/
}

.items {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border: 2px solid brown;
    justify-content: flex-end; 
    align-items: center;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    /*padding-left: 50px;*/
}

#no-results {
    color: orangered;
}

.items h2 {
    margin-right: auto;
    margin-left: auto;
}

.main-content {
    /*border: 3px solid springgreen;*/
    justify-content: space-around;
}

.sub-content {
    /*border: 3px dotted red;*/
    flex-direction: column;
    justify-content: space-around;
    min-height: 50px;
}

.nutrition-container {
    border-top: 2px solid brown;
    min-height: 100px;
    padding-top: 20px;
}

.recipe-name-container {
    border-bottom: 2px solid brown;
    text-decoration: none;
    color: brown;
}

.recipe-name-container > h2 > a:hover {
    color: orangered;
}

/*PAGINATION*/
#pagination {
    margin-top: 5px;
    margin-bottom: 5px;
    flex-direction: row;
    justify-content: center;
}

#pagination span {
    color: #ffffff;
}

#pagination .current-page button {
    background-color: orangered;
    color: #ffffff;
}