<!DOCTYPE html>
<html>
<head>
    <title>FRAWFT</title>
    <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }}>
</head>
<body alink="brown" vlink="brown">
    <div class="main-container-2">
        <h1><a href='/'>Fantastic Recipes and Where to Find Them!</a></h1>
        <h3><i>~ADVANCED SEARCH~</i></h3>

        <div class="first-line">
            <form>
                <label for='keywords'>Keyword Search:</label>
                <input id='keywords' name='keywords' type='text'>
                <label for='ranking_method'>Ranking Algorithm</label>
                <select id='ranking_method' name='ranking_method'>
                    <option>BM25</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                </select>
            </form>
        </div>
        <div class="main-form">
            <form>
                <fieldset>
                    <legend><b><font size="4">Ingredients - Enter as a comma seperated list</font></b></legend>
                    <label for='included_ingredients'>Include:</label>
                    <input id='included_ingredients' name='included_ingredients' type='text' pattern='([A-z ]*,)*[A-z ]*'>
                    <label for='excluded_ingredients'>Exclude:</label>
                    <input id='excluded_ingredients' name='excluded_ingredients' type='text' pattern='([A-z ]*,)*[A-z ]*'>
                </fieldset>
                <fieldset>
                    <legend><b><font size="4">Dietary Restrictions - Select all that apply</font></b></legend>
                <label for='diet_names'>Diets:</label>
                <input type="checkbox" name="Diabetic" value="Diabetic">Diabetic
                <input type="checkbox" name="Vegan" value="Vegan">Vegan
                <input type="checkbox" name="Vegetarian" value="Vegetarian">Vegetarian
                <input type="checkbox" name="Low carb" value="Low carb">Low carb
                <input type="checkbox" name="Low fat" value="Low fat">Low fat
                <input type="checkbox" name="High Protein" value="High Protein">High Protein
                <br/>
                <label for='Allergies'>Allergens:</label>
                <input type="checkbox" name="Eggs" value="Eggs">Eggs
                <input type="checkbox" name="Shellfish" value="Shellfish">Shellfish
                <input type="checkbox" name="Fish" value="Fish">Fish
                <input type="checkbox" name="Tree nuts" value="Tree nuts">Tree nuts
                <input type="checkbox" name="Gluten" value="Gluten">Gluten
                <input type="checkbox" name="Wheat" value="Wheat">Wheat
                <input type="checkbox" name="Milk" value="Milk">Milk
                <input type="checkbox" name="Soy" value="Soy">Soy
                </fieldset>
            </form>
        </div>
        <div>
            <form>
                <input id='submit' type='submit'>
            </form>
        </div>
    </div>
</body>
</html>
