{% extends 'navbar.html' %}

{% block banner %}
<!--banner pic-->
<div class="banner">
    <img class="banner-image" src="../static/images/fantasykitchen-1.jpg">
</div>
<!--banner pic-->
{% endblock %}

{% block content %}
        

        <!--main recipe box container-->
        <div class="Recipe-box">
            <div class="container recipe-name-container">
                <h2>{{recipe.name}}</h2>
                <a href="{{recipe.url}}"><h3>See Full Recipe</h3></a>
            </div>
            <div class="flexbox-container main-content">
                <div class="flexbox-container sub-content">
                    <div class="flexbox-container dietary-restrictions"><h3>Dietary Info</h3>
                        <ul>
                            {% for d in dietInfo %}
                            <li>{{d}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="flexbox-container cautions"><h3>Cautions</h3>
                        <ul>
                            {% for c in cautions %}
                            <li>{{c}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="flexbox-container ingredients"><h3>Ingredients</h3>
                        <ul>
                            {% for i in ingredients %}
                            <li>{{i}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="flexbox-container image-container">
                    <img class="recipe-image" src="{{recipe.image}}" height=200>
                </div>
            </div>
            <div class="container nutrition-container">
                <h3>Nutrition Information</h3>
                    {% for n in nutrition %}
                    <p>{{n}}</p>
                    {% endfor %}
            </div>
        </div>
        <!--main recipe box container-->
    {% endblock %}
